body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-width: 1200px;
  text-align: center;
}

.container {
  text-align: center;
  padding: 100px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-top: 0;
}

#normalButton {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-duration: 0.3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 16px 14px 18px;
  color: #fff;
  background-color: #15883e;
  height: 48px;
}
#normalButton:hover,
#normalButton:focus {
  background-color: #1db954;
}
#bonusButton {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-duration: 0.3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 16px 14px 18px;
  color: #616467;
  box-shadow: inset 0 0 0 2px #616467;
  background-color: transparent;
  height: 48px;
  margin-left: 1em;
}

#bonusButton:hover,
#bonusButton:focus {
  color: #fff;
  background-color: #616467;
}

p {
  font-size: 18px;
  margin: 30px 0;
}

@media (max-width: 768px) {
  body {
    font-size: 16px; /* Decrease font size for smaller screens */
    /* flex-direction: column; */
    margin: 0 auto;
    width: 90%;
  }
  #normalButton {
    margin-bottom: 1em;
  }
  #bonusButton {
    margin-left: 0;
  }
  .container {
    padding: 50px;
  }

  .container-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
